@model Expenditure

<div>
    <form asp-controller="KeepAccount" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Date">Date :</label>
            <input asp-for="Date" type="date" class="form-control">
            <label asp-for="Name">Name :</label>
            <input asp-for="Name" class="form-control">
            <label>Type :</label>
            <select asp-for="Type" class="form-control" style="width: 100%;">
                <option disabled> Select </option>
                <option> Food </option>
                <option> Transportation </option>
                <option> Entertainment </option>
                <option> Others </option>
            </select>
            <label asp-for="Amount">Amount :</label>
            <input asp-for="Amount" class="form-control">
            <label asp-for="Note">Note :</label>
            <input asp-for="Note" class="form-control">
            <div style="padding: 5px 0;">
                <button class="btn btn-info">Add</button>
            </div>
            </div>
        <div>
            <span asp-validation-for="Date" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="Name" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="Type" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="Amount" class="text-danger" style="display: block;"></span>
            <span asp-validation-for="Note" class="text-danger" style="display: block;"></span>
        </div>
    </form>
</div>

<style>
    th, td {
        border-bottom: 1px solid #AAAAAA;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}