@model PageViewModel

<h1 class="display-4">Manage Keep Account</h1>

<div style="width: 30%; height: 80%; display: inline-block;">
    <partial name="_Create" model="Model.Expenditure" />
</div>

<div style="width: 65%; height: 80%; display: inline-block; vertical-align: top; float: right; padding: 20px;">
    <partial name="_View" model="Model.Expenditures" />
</div>
